In [ ]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('https://frenzy86.s3.eu-west-2.amazonaws.com/fav/company_sales_data.csv') #index_col="month_number"

In [1]:
Pandas ha due oggetti tipici: un dataframe oppure una serie

SyntaxError: ignored

In [ ]:
df.head()#visualizzo prime 5
df.tail()#visualizzo ultime 5

df.head(8) #vedo le prime 8 righe, posso mettere anche tail

,facecream,facewash,toothpaste,bathingsoap,shampoo,moisturizer,total_units,total_profit
month_number,,,,,,,,
1,2500,1500,5200,9200,1200,1500,21100,211000
2,2630,1200,5100,6100,2100,1200,18330,183300
3,2140,1340,4550,9550,3550,1340,22470,224700
4,3400,1130,5870,8870,1870,1130,22270,222700
5,3600,1740,4560,7760,1560,1740,20960,209600
6,2760,1555,4890,7490,1890,1555,20140,201400
7,2980,1120,4780,8980,1780,1120,29550,295500
8,3700,1400,5860,9960,2860,1400,36140,361400

In [ ]:
df.describe() #descrizione statistica di ogni colonna

,month_number,facecream,facewash,toothpaste,bathingsoap,shampoo,moisturizer,total_units,total_profit
count,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.00000,12.000000
mean,6.500000,2873.333333,1542.916667,5825.833333,9500.833333,2117.500000,1542.916667,26027.50000,260275.000000
std,3.605551,584.595172,316.733745,1242.032486,2348.095779,617.724931,316.733745,7014.36594,70143.659404
min,1.000000,1990.000000,1120.000000,4550.000000,6100.000000,1200.000000,1120.000000,18330.00000,183300.000000
25%,3.750000,2460.000000,1305.000000,4862.500000,8015.000000,1795.000000,1305.000000,21065.00000,210650.000000
50%,6.500000,2830.000000,1527.500000,5530.000000,9090.000000,1995.000000,1527.500000,22935.00000,229350.000000
75%,9.250000,3435.000000,1765.000000,6400.000000,10045.000000,2325.000000,1765.000000,29667.50000,296675.000000
max,12.000000,3700.000000,2100.000000,8300.000000,14400.000000,3550.000000,2100.000000,41280.00000,412800.000000

In [ ]:
df.info() #object è una stringa, se boolean è bool , timestamp è datetime, int64 per gli interi, float64 per i float

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   month_number  12 non-null     int64
 1   facecream     12 non-null     int64
 2   facewash      12 non-null     int64
 3   toothpaste    12 non-null     int64
 4   bathingsoap   12 non-null     int64
 5   shampoo       12 non-null     int64
 6   moisturizer   12 non-null     int64
 7   total_units   12 non-null     int64
 8   total_profit  12 non-null     int64
dtypes: int64(9)
memory usage: 992.0 bytes

##Dtype può essere:
*   bool
*   datetime
*   float64
*   int64
*   object

In [ ]:
df.isnull().values.sum() #per conteggiare i valori nulli

0

In [ ]:
#traformare le colonne in liste:

profitlist = df ['total_profit'].tolist()
monthlist = df ['month_number'].tolist()

In [ ]:
profitlist

[211000,
 183300,
 224700,
 222700,
 209600,
 201400,
 295500,
 361400,
 234000,
 266700,
 412800,
 300200]

In [ ]:
monthlist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [ ]:
df ['total_profit'].sum() #metodo per vedere la somma, stessa cosa per la media (mean()), (max()) etc.

3123300

In [ ]:
df['total_profit'].describe() #describe di una sola colonna

count        12.000000
mean     260275.000000
std       70143.659404
min      183300.000000
25%      210650.000000
50%      229350.000000
75%      296675.000000
max      412800.000000
Name: total_profit, dtype: float64