In [ ]:
import pandas as pd
import numpy as np

#Creazione di un df

In [ ]:
np.random.seed(667)

mydata= np.random.randint(0,101,(4,3))
mydata

array([[ 85,  15,  89],
       [100,   3,  90],
       [  2,  64,   0],
       [ 36,  99,  47]])

In [ ]:
myindex=['A','B','C','D']

In [ ]:
mycolumns = ['Gennaio', 'Febbraio','Marzo']

In [ ]:
df = pd.DataFrame(data = mydata, index=myindex, columns=mycolumns)

In [ ]:
df

   Gennaio  Febbraio  Marzo
A       85        15     89
B      100         3     90
C        2        64      0
D       36        99     47

#Len

In [ ]:
len(df) #numero di righe

4

#Info, dtype

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, A to D
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Gennaio   4 non-null      int64
 1   Febbraio  4 non-null      int64
 2   Marzo     4 non-null      int64
dtypes: int64(3)
memory usage: 300.0+ bytes

In [ ]:
df.dtypes #le stringhe, solo una tipologia di dato

Gennaio     int64
Febbraio    int64
Marzo       int64
dtype: object

In [ ]:
df = pd.read_csv('tips_complete.csv')
df

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251
...,...,...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3,9.68,Michael Avila,5296068606052842,Sat2657
240,27.18,2.00,Female,Yes,Sat,Dinner,2,13.59,Monica Sanders,3506806155565404,Sat1766
241,22.67,2.00,Male,Yes,Sat,Dinner,2,11.34,Keith Wong,6011891618747196,Sat3880
242,17.82,1.75,Male,No,Sat,Dinner,2,8.91,Dennis Dixon,4375220550950,Sat17
243,18.78,3.00,Female,No,Thur,Dinner,2,9.39,Michelle Hardin,3511451626698139,Thur672

In [ ]:
df.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size',
       'price_per_person', 'Payer Name', 'CC Number', 'Payment ID'],
      dtype='object')

In [ ]:
df.index

RangeIndex(start=0, stop=244, step=1)

In [ ]:
df.describe()

       total_bill         tip        size  price_per_person     CC Number
count  244.000000  244.000000  244.000000        244.000000  2.440000e+02
mean    19.785943    2.998279    2.569672          7.888197  2.563496e+15
std      8.902412    1.383638    0.951100          2.914234  2.369340e+15
min      3.070000    1.000000    1.000000          2.880000  6.040679e+10
25%     13.347500    2.000000    2.000000          5.800000  3.040731e+13
50%     17.795000    2.900000    2.000000          7.255000  3.525318e+15
75%     24.127500    3.562500    3.000000          9.390000  4.553675e+15
max     50.810000   10.000000    6.000000         20.270000  6.596454e+15

#Transponi

In [ ]:
df.describe().T #transpose (scambia righe con colonne)

,count,mean,std,min,25%,50%,75%,max
total_bill,244.0,1.978594e+01,8.902412e+00,3.070000e+00,1.334750e+01,1.779500e+01,2.412750e+01,5.081000e+01
tip,244.0,2.998279e+00,1.383638e+00,1.000000e+00,2.000000e+00,2.900000e+00,3.562500e+00,1.000000e+01
size,244.0,2.569672e+00,9.510998e-01,1.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,6.000000e+00
price_per_person,244.0,7.888197e+00,2.914234e+00,2.880000e+00,5.800000e+00,7.255000e+00,9.390000e+00,2.027000e+01
CC Number,244.0,2.563496e+15,2.369340e+15,6.040679e+10,3.040731e+13,3.525318e+15,4.553675e+15,6.596454e+15

#Shape, size, type

In [ ]:
df.shape #numero

(244, 11)

In [ ]:
df.size #numero di celle

2684

In [ ]:
df.total_bill

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
       ...
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64

In [ ]:
type(df['total_bill']) #la tipologia di cosa è total_bill è una Series, ovvero una colonna

pandas.core.series.Series

In [ ]:
df[['total_bill', 'tip']] #per due o più colonne doppie brackets

#Creazione di una nuova colonna

In [ ]:
df['tip_percentage'] = 100* df['tip']/df['total_bill']
df

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,tip_percentage
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959,5.944673
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608,16.054159
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458,16.658734
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260,13.978041
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251,14.680765
...,...,...,...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3,9.68,Michael Avila,5296068606052842,Sat2657,20.392697
240,27.18,2.00,Female,Yes,Sat,Dinner,2,13.59,Monica Sanders,3506806155565404,Sat1766,7.358352
241,22.67,2.00,Male,Yes,Sat,Dinner,2,11.34,Keith Wong,6011891618747196,Sat3880,8.822232
242,17.82,1.75,Male,No,Sat,Dinner,2,8.91,Dennis Dixon,4375220550950,Sat17,9.820426
243,18.78,3.00,Female,No,Thur,Dinner,2,9.39,Michelle Hardin,3511451626698139,Thur672,15.974441

In [ ]:
df['price_per_person1'] = np.round(df['total_bill'] / df['size'], 3) #round arrotondo, dopo la virgola c'è 3 che è il numero di decimali

#Impostare un indice

In [ ]:
df.set_index('Payment ID') #inplace=True in automatico, inserisco un indice, imposto Payment ID come indice ma mi fa solo vedere la preview, non lo imposta sul df

Se vado a vedere df avrò l'indice vecchio. Per impostare il nuovo indice ho due modi:
*  sovrascrivo il nuovo df facendo df = df.set_index('Payment ID')
* scrivo df.set_index('Payment ID', inplace=True)

In [ ]:
df.set_index('Payment ID', inplace=True)

#Creare una copia del df

In [ ]:
df1 = df.copy() #creo la copia del DF

#LOC/ILOC

*  iloc con i numeri/index
*  loc con i valori/stringa

Questi due esempi sono uguali:

In [ ]:
df.iloc[0] #mi fa vedere tutti i valori della prima riga

total_bill                        16.99
tip                                1.01
sex                              Female
smoker                               No
day                                 Sun
time                             Dinner
size                                  2
price_per_person                  8.495
Payer Name           Christy Cunningham
CC Number              3560325168603410
tip_percentage                 5.944673
price_per_person1                 8.495
Name: Sun2959, dtype: object

In [ ]:
df.loc['Sun2959']

total_bill                        16.99
tip                                1.01
sex                              Female
smoker                               No
day                                 Sun
time                             Dinner
size                                  2
price_per_person                  8.495
Payer Name           Christy Cunningham
CC Number              3560325168603410
tip_percentage                 5.944673
price_per_person1                 8.495
Name: Sun2959, dtype: object

#Slicing

In [ ]:
df.iloc[:4] #il 4 escluso ma iniziando da 0 sono le prime 4

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,tip_percentage,price_per_person1
Payment ID,,,,,,,,,,,,
Sun2959,16.99,1.01,Female,No,Sun,Dinner,2,8.495000,Christy Cunningham,3560325168603410,5.944673,8.495
Sun4608,10.34,1.66,Male,No,Sun,Dinner,3,3.446667,Douglas Tucker,4478071379779230,16.054159,3.447
Sun4458,21.01,3.50,Male,No,Sun,Dinner,3,7.003333,Travis Walters,6011812112971322,16.658734,7.003
Sun5260,23.68,3.31,Male,No,Sun,Dinner,2,11.840000,Nathaniel Harris,4676137647685994,13.978041,11.840

In [ ]:
df.loc[['Sun2959','Sun5260']]

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,tip_percentage,price_per_person1
Payment ID,,,,,,,,,,,,
Sun2959,16.99,1.01,Female,No,Sun,Dinner,2,8.495,Christy Cunningham,3560325168603410,5.944673,8.495
Sun5260,23.68,3.31,Male,No,Sun,Dinner,2,11.840,Nathaniel Harris,4676137647685994,13.978041,11.840

#Droppare un elemento

*  Axis=1 è la **colonna**
*  Axis=0 è la **riga**

In [ ]:
df.drop('Sun2959', axis=0)

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,tip_percentage,price_per_person1
Payment ID,,,,,,,,,,,,
Sun4608,10.34,1.66,Male,No,Sun,Dinner,3,3.446667,Douglas Tucker,4478071379779230,16.054159,3.447
Sun4458,21.01,3.50,Male,No,Sun,Dinner,3,7.003333,Travis Walters,6011812112971322,16.658734,7.003
Sun5260,23.68,3.31,Male,No,Sun,Dinner,2,11.840000,Nathaniel Harris,4676137647685994,13.978041,11.840
Sun2251,24.59,3.61,Female,No,Sun,Dinner,4,6.147500,Tonya Carter,4832732618637221,14.680765,6.148
Sun9679,25.29,4.71,Male,No,Sun,Dinner,4,6.322500,Erik Smith,213140353657882,18.623962,6.322
...,...,...,...,...,...,...,...,...,...,...,...,...
Sat2657,29.03,5.92,Male,No,Sat,Dinner,3,9.676667,Michael Avila,5296068606052842,20.392697,9.677
Sat1766,27.18,2.00,Female,Yes,Sat,Dinner,2,13.590000,Monica Sanders,3506806155565404,7.358352,13.590
Sat3880,22.67,2.00,Male,Yes,Sat,Dinner,2,11.335000,Keith Wong,6011891618747196,8.822232,11.335
Sat17,17.82,1.75,Male,No,Sat,Dinner,2,8.910000,Dennis Dixon,4375220550950,9.820426,8.910
Thur672,18.78,3.00,Female,No,Thur,Dinner,2,9.390000,Michelle Hardin,3511451626698139,15.974441,9.390

In [ ]:
#RICORDA di mettere df= sennò non lo sovrascrive
df = df.drop('Sun2959', axis=0)

#Append

In [ ]:
first_row = df.loc['Sun4608']
first_row

total_bill                      10.34
tip                              1.66
sex                              Male
smoker                             No
day                               Sun
time                           Dinner
size                                3
price_per_person             3.446667
Payer Name             Douglas Tucker
CC Number            4478071379779230
tip_percentage              16.054159
price_per_person1               3.447
Name: Sun4608, dtype: object

In [ ]:
df.append(first_row)

#Trasformo tipologia della serie in array

In [ ]:
type(first_row)

pandas.core.series.Series

In [ ]:
array_row = df.loc['Sun4608'].values #posso anche fare first_row.values
array_row

array([10.34, 1.66, 'Male', 'No', 'Sun', 'Dinner', 3, 3.4466666666666668,
       'Douglas Tucker', 4478071379779230, 16.054158607350097, 3.447],
      dtype=object)